
.idea/*
/www/
/platforms/
/node_modules/
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/javaCompile/javaCompile.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/0-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/1-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/12-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/13-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/2-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/20-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/21-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/22-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/3-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/34-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/35-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/36-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/37-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/38-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/39-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/4-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/40-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/41-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/42-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/49-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/5-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/50-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/54-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/59-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/60-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/72-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/73-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/76-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/common-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es5.js
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/focus-visible-70713a0c-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/hardware-back-button-5afe3cb0-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/input-shims-a4fc53ac-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/ios-transition-1850e475-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/main-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/main-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/main-es5.js
platforms/android/app/build/intermediates/assets/debug/www/main-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/md-transition-083fcf52-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es5.js
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/runtime-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/runtime-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/runtime-es5.js
platforms/android/app/build/intermediates/assets/debug/www/runtime-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/status-tap-839e1402-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/swipe-back-c7acdfde-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/tap-click-606f325e-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/vendor-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/vendor-es5.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
platforms/android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/0-es2015.js.map
platforms/android/app/src/main/assets/www/1-es2015.js.map
platforms/android/app/src/main/assets/www/12-es2015.js.map
platforms/android/app/src/main/assets/www/13-es2015.js.map
platforms/android/app/src/main/assets/www/2-es2015.js.map
platforms/android/app/src/main/assets/www/20-es2015.js.map
platforms/android/app/src/main/assets/www/21-es2015.js.map
platforms/android/app/src/main/assets/www/22-es2015.js.map
platforms/android/app/src/main/assets/www/3-es2015.js.map
platforms/android/app/src/main/assets/www/34-es2015.js.map
platforms/android/app/src/main/assets/www/35-es2015.js.map
platforms/android/app/src/main/assets/www/36-es2015.js.map
platforms/android/app/src/main/assets/www/37-es2015.js.map
platforms/android/app/src/main/assets/www/38-es2015.js.map
platforms/android/app/src/main/assets/www/39-es2015.js.map
platforms/android/app/src/main/assets/www/4-es2015.js.map
platforms/android/app/src/main/assets/www/40-es2015.js.map
platforms/android/app/src/main/assets/www/41-es2015.js.map
platforms/android/app/src/main/assets/www/42-es2015.js.map
platforms/android/app/src/main/assets/www/49-es2015.js.map
platforms/android/app/src/main/assets/www/5-es2015.js.map
platforms/android/app/src/main/assets/www/50-es2015.js.map
platforms/android/app/src/main/assets/www/54-es2015.js.map
platforms/android/app/src/main/assets/www/59-es2015.js.map
platforms/android/app/src/main/assets/www/60-es2015.js.map
platforms/android/app/src/main/assets/www/72-es2015.js.map
platforms/android/app/src/main/assets/www/73-es2015.js.map
platforms/android/app/src/main/assets/www/76-es2015.js.map
platforms/android/app/src/main/assets/www/common-es2015.js.map
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es2015.js
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es2015.js.map
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es5.js
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es5.js.map
platforms/android/app/src/main/assets/www/focus-visible-70713a0c-js-es2015.js.map
platforms/android/app/src/main/assets/www/hardware-back-button-5afe3cb0-js-es2015.js.map
platforms/android/app/src/main/assets/www/input-shims-a4fc53ac-js-es2015.js.map
platforms/android/app/src/main/assets/www/ios-transition-1850e475-js-es2015.js.map
platforms/android/app/src/main/assets/www/main-es2015.js
platforms/android/app/src/main/assets/www/main-es2015.js.map
platforms/android/app/src/main/assets/www/main-es5.js
platforms/android/app/src/main/assets/www/main-es5.js.map
platforms/android/app/src/main/assets/www/md-transition-083fcf52-js-es2015.js.map
platforms/android/app/src/main/assets/www/registration-registration-module-es2015.js
platforms/android/app/src/main/assets/www/registration-registration-module-es2015.js.map
platforms/android/app/src/main/assets/www/registration-registration-module-es5.js
platforms/android/app/src/main/assets/www/registration-registration-module-es5.js.map
platforms/android/app/src/main/assets/www/runtime-es2015.js
platforms/android/app/src/main/assets/www/runtime-es2015.js.map
platforms/android/app/src/main/assets/www/runtime-es5.js
platforms/android/app/src/main/assets/www/runtime-es5.js.map
platforms/android/app/src/main/assets/www/status-tap-839e1402-js-es2015.js.map
platforms/android/app/src/main/assets/www/swipe-back-c7acdfde-js-es2015.js.map
platforms/android/app/src/main/assets/www/tap-click-606f325e-js-es2015.js.map
platforms/android/app/src/main/assets/www/vendor-es2015.js.map
platforms/android/app/src/main/assets/www/vendor-es5.js.map
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
www/0-es2015.js.map
www/1-es2015.js.map
www/12-es2015.js.map
www/13-es2015.js.map
www/2-es2015.js.map
www/20-es2015.js.map
www/21-es2015.js.map
www/22-es2015.js.map
www/3-es2015.js.map
www/34-es2015.js.map
www/35-es2015.js.map
www/36-es2015.js.map
www/37-es2015.js.map
www/38-es2015.js.map
www/39-es2015.js.map
www/4-es2015.js.map
www/40-es2015.js.map
www/41-es2015.js.map
www/42-es2015.js.map
www/49-es2015.js.map
www/5-es2015.js.map
www/50-es2015.js.map
www/54-es2015.js.map
www/59-es2015.js.map
www/60-es2015.js.map
www/72-es2015.js.map
www/73-es2015.js.map
www/76-es2015.js.map
www/common-es2015.js.map
www/cordova-js-src/exec.js
www/cordova-js-src/platform.js
www/cordova_plugins.js
www/doctor-prescribe-prescribe-module-es2015.js
www/doctor-prescribe-prescribe-module-es2015.js.map
www/doctor-prescribe-prescribe-module-es5.js
www/doctor-prescribe-prescribe-module-es5.js.map
www/focus-visible-70713a0c-js-es2015.js.map
www/hardware-back-button-5afe3cb0-js-es2015.js.map
www/input-shims-a4fc53ac-js-es2015.js.map
www/ios-transition-1850e475-js-es2015.js.map
www/main-es2015.js
www/main-es2015.js.map
www/main-es5.js
www/main-es5.js.map
www/md-transition-083fcf52-js-es2015.js.map
www/registration-registration-module-es2015.js
www/registration-registration-module-es2015.js.map
www/registration-registration-module-es5.js
www/registration-registration-module-es5.js.map
www/runtime-es2015.js
www/runtime-es2015.js.map
www/runtime-es5.js
www/runtime-es5.js.map
www/status-tap-839e1402-js-es2015.js.map
www/swipe-back-c7acdfde-js-es2015.js.map
www/tap-click-606f325e-js-es2015.js.map
www/vendor-es2015.js.map
www/vendor-es5.js.map
platforms/android/.gradle/4.1/fileHashes/fileHashes.bin
platforms/android/.gradle/4.1/fileHashes/fileHashes.lock
platforms/android/.gradle/4.1/javaCompile/javaCompile.lock
platforms/android/.gradle/4.1/taskHistory/fileSnapshots.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.bin
platforms/android/.gradle/4.1/taskHistory/taskHistory.lock
platforms/android/app/build/intermediates/assets/debug/www/0-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/1-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/12-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/13-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/2-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/20-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/21-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/22-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/3-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/34-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/35-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/36-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/37-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/38-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/39-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/4-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/40-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/41-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/42-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/49-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/5-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/50-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/54-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/59-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/60-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/72-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/73-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/76-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/common-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es5.js
platforms/android/app/build/intermediates/assets/debug/www/doctor-prescribe-prescribe-module-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/focus-visible-70713a0c-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/hardware-back-button-5afe3cb0-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/input-shims-a4fc53ac-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/ios-transition-1850e475-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/main-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/main-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/main-es5.js
platforms/android/app/build/intermediates/assets/debug/www/main-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/md-transition-083fcf52-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es5.js
platforms/android/app/build/intermediates/assets/debug/www/registration-registration-module-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/runtime-es2015.js
platforms/android/app/build/intermediates/assets/debug/www/runtime-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/runtime-es5.js
platforms/android/app/build/intermediates/assets/debug/www/runtime-es5.js.map
platforms/android/app/build/intermediates/assets/debug/www/status-tap-839e1402-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/swipe-back-c7acdfde-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/tap-click-606f325e-js-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/vendor-es2015.js.map
platforms/android/app/build/intermediates/assets/debug/www/vendor-es5.js.map
platforms/android/app/build/intermediates/incremental/mergeDebugAssets/merger.xml
platforms/android/app/build/intermediates/incremental/mergeDebugResources/compile-file-map.properties
platforms/android/app/build/intermediates/incremental/mergeDebugResources/merged.dir/values/values.xml
platforms/android/app/build/intermediates/incremental/packageDebug/debug/dex-renamer-state.txt
platforms/android/app/build/intermediates/incremental/packageDebug/debug/file-input-save-data.txt
platforms/android/app/build/outputs/apk/debug/app-debug.apk
platforms/android/app/src/main/assets/www/0-es2015.js.map
platforms/android/app/src/main/assets/www/1-es2015.js.map
platforms/android/app/src/main/assets/www/12-es2015.js.map
platforms/android/app/src/main/assets/www/13-es2015.js.map
platforms/android/app/src/main/assets/www/2-es2015.js.map
platforms/android/app/src/main/assets/www/20-es2015.js.map
platforms/android/app/src/main/assets/www/21-es2015.js.map
platforms/android/app/src/main/assets/www/22-es2015.js.map
platforms/android/app/src/main/assets/www/3-es2015.js.map
platforms/android/app/src/main/assets/www/34-es2015.js.map
platforms/android/app/src/main/assets/www/35-es2015.js.map
platforms/android/app/src/main/assets/www/36-es2015.js.map
platforms/android/app/src/main/assets/www/37-es2015.js.map
platforms/android/app/src/main/assets/www/38-es2015.js.map
platforms/android/app/src/main/assets/www/39-es2015.js.map
platforms/android/app/src/main/assets/www/4-es2015.js.map
platforms/android/app/src/main/assets/www/40-es2015.js.map
platforms/android/app/src/main/assets/www/41-es2015.js.map
platforms/android/app/src/main/assets/www/42-es2015.js.map
platforms/android/app/src/main/assets/www/49-es2015.js.map
platforms/android/app/src/main/assets/www/5-es2015.js.map
platforms/android/app/src/main/assets/www/50-es2015.js.map
platforms/android/app/src/main/assets/www/54-es2015.js.map
platforms/android/app/src/main/assets/www/59-es2015.js.map
platforms/android/app/src/main/assets/www/60-es2015.js.map
platforms/android/app/src/main/assets/www/72-es2015.js.map
platforms/android/app/src/main/assets/www/73-es2015.js.map
platforms/android/app/src/main/assets/www/76-es2015.js.map
platforms/android/app/src/main/assets/www/common-es2015.js.map
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es2015.js
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es2015.js.map
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es5.js
platforms/android/app/src/main/assets/www/doctor-prescribe-prescribe-module-es5.js.map
platforms/android/app/src/main/assets/www/focus-visible-70713a0c-js-es2015.js.map
platforms/android/app/src/main/assets/www/hardware-back-button-5afe3cb0-js-es2015.js.map
platforms/android/app/src/main/assets/www/input-shims-a4fc53ac-js-es2015.js.map
platforms/android/app/src/main/assets/www/ios-transition-1850e475-js-es2015.js.map
platforms/android/app/src/main/assets/www/main-es2015.js
platforms/android/app/src/main/assets/www/main-es2015.js.map
platforms/android/app/src/main/assets/www/main-es5.js
platforms/android/app/src/main/assets/www/main-es5.js.map
platforms/android/app/src/main/assets/www/md-transition-083fcf52-js-es2015.js.map
platforms/android/app/src/main/assets/www/registration-registration-module-es2015.js
platforms/android/app/src/main/assets/www/registration-registration-module-es2015.js.map
platforms/android/app/src/main/assets/www/registration-registration-module-es5.js
platforms/android/app/src/main/assets/www/registration-registration-module-es5.js.map
platforms/android/app/src/main/assets/www/runtime-es2015.js
platforms/android/app/src/main/assets/www/runtime-es2015.js.map
platforms/android/app/src/main/assets/www/runtime-es5.js
platforms/android/app/src/main/assets/www/runtime-es5.js.map
platforms/android/app/src/main/assets/www/status-tap-839e1402-js-es2015.js.map
platforms/android/app/src/main/assets/www/swipe-back-c7acdfde-js-es2015.js.map
platforms/android/app/src/main/assets/www/tap-click-606f325e-js-es2015.js.map
platforms/android/app/src/main/assets/www/vendor-es2015.js.map
platforms/android/app/src/main/assets/www/vendor-es5.js.map
platforms/android/CordovaLib/build/intermediates/incremental/packageDebugResources/compile-file-map.properties
www/0-es2015.js.map
www/1-es2015.js.map
www/12-es2015.js.map
www/13-es2015.js.map
www/2-es2015.js.map
www/20-es2015.js.map
www/21-es2015.js.map
www/22-es2015.js.map
www/3-es2015.js.map
www/34-es2015.js.map
www/35-es2015.js.map
www/36-es2015.js.map
www/37-es2015.js.map
www/38-es2015.js.map
www/39-es2015.js.map
www/4-es2015.js.map
www/40-es2015.js.map
www/41-es2015.js.map
www/42-es2015.js.map
www/49-es2015.js.map
www/5-es2015.js.map
www/50-es2015.js.map
www/54-es2015.js.map
www/59-es2015.js.map
www/60-es2015.js.map
www/72-es2015.js.map
www/73-es2015.js.map
www/76-es2015.js.map
www/common-es2015.js.map
www/cordova-js-src/exec.js
www/cordova-js-src/platform.js
www/cordova_plugins.js
www/doctor-prescribe-prescribe-module-es2015.js
www/doctor-prescribe-prescribe-module-es2015.js.map
www/doctor-prescribe-prescribe-module-es5.js
www/doctor-prescribe-prescribe-module-es5.js.map
www/focus-visible-70713a0c-js-es2015.js.map
www/hardware-back-button-5afe3cb0-js-es2015.js.map
www/input-shims-a4fc53ac-js-es2015.js.map
www/ios-transition-1850e475-js-es2015.js.map
www/main-es2015.js
www/main-es2015.js.map
www/main-es5.js
www/main-es5.js.map
www/md-transition-083fcf52-js-es2015.js.map
www/registration-registration-module-es2015.js
www/registration-registration-module-es2015.js.map
www/registration-registration-module-es5.js
www/registration-registration-module-es5.js.map
www/runtime-es2015.js
www/runtime-es2015.js.map
www/runtime-es5.js
www/runtime-es5.js.map
www/status-tap-839e1402-js-es2015.js.map
www/swipe-back-c7acdfde-js-es2015.js.map
www/tap-click-606f325e-js-es2015.js.map
www/vendor-es2015.js.map
www/vendor-es5.js.map
/node_modules/
