<ion-header>
  <ion-toolbar>
    <ion-title>see-patient</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h2>Información del paciente</h2>

  <button type="button" class="collapsible">Datos</button>
  <div class="content">
    <h1>Nombre: </h1>
    <h1>Juan García<br></h1>
    <h1>Póliza: </h1>
    <h1>00000000<br></h1>
    <h1>Número de Seguro Social: </h1>
    <h1>123456789<br></h1>
  </div>

  <button type="button" class="collapsible">Historial</button>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>

  <button type="button" class="collapsible">Estatus de tratamientos</button>
  <div class="content">
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.</p>
  </div>
</ion-content>
