<ion-content>

  <ion-item lines="full">
    <ion-label position="floating">Fecha</ion-label>
    <ion-input type="text" name="date" [(ngModel)]="todo.fecha" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Padecimiento</ion-label>
    <ion-textarea [(ngModel)]="todo.padecimiento" name="padecimiento"></ion-textarea>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Diagnostico</ion-label>
    <ion-textarea [(ngModel)]="todo.diagnostico" type="text" name="mnombre"></ion-textarea>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Nombre Medicamento</ion-label>
    <ion-input [(ngModel)]="todo.mnombre" type="text" name="mnombre" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Hora Dosis</ion-label>
    <ion-input [(ngModel)]="todo.mhora" type="text" name="mhora" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Dosis</ion-label>
    <ion-input [(ngModel)]="todo.mdosis" type="text" name="mdosis" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Periodo</ion-label>
    <ion-input [(ngModel)]="todo.mperiodo" type="text" name="mperiodo" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">NSS Paciente</ion-label>
    <ion-input [(ngModel)]="todo.nsspaciente" type="text" name="nsspaciente" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Cedula Doctor</ion-label>
    <ion-input [(ngModel)]="todo.cdoctor" type="text" name="cdoctor" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Nombre Paciente</ion-label>
    <ion-input [(ngModel)]="todo.npaciente" type="text" name="npaciente" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Edad Paciente</ion-label>
    <ion-input [(ngModel)]="todo.edad" type="text" name="edad" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Sexo Paciente</ion-label>
    <ion-input [(ngModel)]="todo.sexo" type="text" name="sexo" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Alergias</ion-label>
    <ion-input [(ngModel)]="todo.alergias" type="text" name="alergias" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Talla</ion-label>
    <ion-input [(ngModel)]="todo.talla" type="text" name="talla" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Peso</ion-label>
    <ion-input [(ngModel)]="todo.peso" type="text" name="peso" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">IMC</ion-label>
    <ion-input [(ngModel)]="todo.imc" type="text" name="imc" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Temperatura</ion-label>
    <ion-input [(ngModel)]="todo.temperatura" type="text" name="temperatura" required></ion-input>
  </ion-item>

  <ion-item lines="full">
    <ion-label position="floating">Presión Arterial</ion-label>
    <ion-input [(ngModel)]="todo.presion" type="text" name="presion" required></ion-input>
  </ion-item>

  <ion-row>
    <ion-col>
      <ion-button type="submit" color="danger" expand="block" (click)="registrarReceta()">Registrar Receta</ion-button>
    </ion-col>
  </ion-row>

</ion-content>
